@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: var(--color-nephritis-120);
  }

  html.is-scroll-locked {
    overflow: hidden;
  }

  body {
    background: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.modal-open {
    overflow: hidden;
  }

  button {
    appearance: none;
    cursor: pointer;
  }

  img,
  picture {
    display: block;
    max-width: 100%;
  }

  svg {
    display: block;
  }

  .status-bar-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: env(safe-area-inset-top);

    background-color: var(--color-nephritis-120);

    z-index: 9999;

    pointer-events: none;
  }
}
