@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  html.is-scroll-locked {
    overflow: hidden;
  }

  body {
    background: linear-gradient(
      var(--color-emerald-100) 0 100px,
      var(--color-background) 100px 100%
    );
    color: var(--color-primary);
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.modal-open {
    overflow: hidden;
  }

  button {
    appearance: none;
    cursor: pointer;
  }

  img,
  picture {
    display: block;
    max-width: 100%;
  }

  svg {
    display: block;
  }
}
