/* MarckScript */
@font-face {
  font-family: "MarckScript";
  src: url("../assets/fonts/MarckScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Unbounded */
@font-face {
  font-family: "Unbounded";
  src: url(../assets/fonts/Unbounded-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url(../assets/fonts/Unbounded-Black.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
