/* Display */
@utility typography-display-lg {
  font-family: var(--font-display);
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0;
}

@utility typography-display-md {
  font-family: var(--font-display);
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
}

@utility typography-display-sm {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

/* Heading */
@utility typography-heading-lg {
  font-family: var(--font-display);
  font-size: 52px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: var(--tracking-default);
}

@utility typography-heading-sm {
  font-family: var(--font-display);
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: var(--tracking-default);
}

/* Body */
@utility typography-body-lg {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: var(--tracking-default);
}

@utility typography-body-md {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: var(--tracking-default);
}

@utility typography-body-sm {
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: var(--tracking-default);
}

/* Accent */
@utility typography-accent-2xl {
  font-family: var(--font-accent);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: var(--tracking-default);
}

@utility typography-accent-xl {
  font-family: var(--font-accent);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: var(--tracking-default);
}

@utility typography-accent-lg {
  font-family: var(--font-accent);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: var(--tracking-default);
}

@utility typography-accent-md {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: var(--tracking-default);
}

@utility typography-accent-sm {
  font-family: var(--font-accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: var(--tracking-default);
}

/* Utility text */
@utility typography-label {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
}
